*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.grid-container{
    max-width: 100%;
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(auto-fill, minmax(300px, 500px));
    justify-content: center;
    gap: 10px;
    padding: 20px;
}


.book-card{
    background-color: lightblue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);
    gap: 10px;
}

.book-card p{
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 16px 0px;
}

.book-card p:last-child{
    background-color: red;
}

.book-card p:last-child.active{
    background-color: green;
}

.book-card img{
    width: 1.5rem;
    height: 1.5rem;
    align-self: self-end;
    margin: 5px 5px 5px 0;
}

dialog{
    border: none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 4px 4px 8px 3px rgba(0, 0, 0, 0.2);
}

dialog form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

dialog form label{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

dialog form label span{
    width: 110px;
}

navbar button{
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #F082AC;
    border-color: #F082AC;
}

dialog form button{
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
}

button{
    cursor: pointer;
    outline: 0;
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.2);
}
