*{
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.grid-container{
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    gap: 10px;
    padding: 20px;
}


.book-card{
    background-color: lightblue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.2);
}

.book-card img{
    width: 1.5rem;
    height: 1.5rem;
    align-self: self-end;
    margin: 5px 5px 5px 0;
}

